# From https://elevenlabs.io/
ELEVEN_LABS_API_KEY=
# From https://platform.openai.com/
OPEN_AI_API_KEY=
# From https://www.unrealspeech.com/
UNREAL_SPEECH_API_KEY=
# From https://console.cloud.google.com/apis/credentials?project=*my project*
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Key to semi protect the API from being used by anything else than the frontend
API_KEY=
# List of allowed origins (frontend domains)
ALLOWED_ORIGINS=
# Currently generated via gcloud auth print-access-token for testing purposes
GCLOUD_API_KEY=
# From Google's AI Maker Suite https://makersuite.google.com/app/apikey (just for text models within the suite)
VERTEX_AI_API_KEY=
# From https://www.pinecone.io/
PINECONE_API_KEY=
PINECONE_CONNECTION=
# DSN for your database connection (e.g: can use your local one or from https://app.planetscale.com)
DSN=